rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gym_config/{configId} {
      allow read, write: if true;
    }
    match /leads/{leadId} {
      allow read, write: if true;
    }
    match /feedbacks/{feedbackId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
